.swarm-comment-system-comments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .identifier {
    margin-bottom: 20px;
  }

  .comment {
    display: flex;
    flex-direction: column;

    &.approved {
      p {
        color: #3a3;
      }
    }

    p {
      color: #333;
    }

    span {
      font-size: 1rem;
      font-style: italic;
    }

    button {
      width: fit-content;
      margin: 5px auto;
    }
  }
}
