.swarm-comment-system-comments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .identifier {
    margin-bottom: 20px;
  }

  button {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
  }
}
